.flex-items-center,
.flex-items-center .elementor-button-content-wrapper{
	display:flex;
	align-items:center;
}

.grid-cols-3_1 {
    grid-template-columns: 3fr 1fr;
}
.grid-cols-2_1 {
    grid-template-columns: 2fr 1fr;
}
.glassmorph{
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgb(0 0 0 / 20%);
}
.alignfull{
	max-width: 100%;
}
.alignright{
	display: flex;
	justify-content: flex-end;
}
.aligncenter{
	display: flex;
	justify-content: center;
}

#vibebpmember {
	.container{
		flex: 5;
	    width: 100%;
	}   
}
footer.site-footer a{color:var(--footer-color);} 
.footer_sidebar #sidebar{
	display: flex;
	flex: ;
	& > *{
		flex: 1 0 240px;
	}
}


.sticky{
	position: sticky;
}.top-12{
	top:3rem;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.gallery-caption{
	font-size: 11px;
	font-style: italics;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}
.bypostauthor{
	border-radius: 5px;
	padding: 5px;
	box-shadow:0 0 5px #e7f8fb;
}

.vibebp_members_directory_member.card .vibebp_member {
    background: var(--bg-content);
    bordeR: 1px solid var(--border);
    padding: 0.5rem;
}

h1,h2,h3,h4,h5,h6{
	a{
		&:hover{
			color: var(--bg-primary);
		}
	}
}


.wp-block{
    @apply max-w-screen-xl;
}

.wp-block[data-align=wide] {
    @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
    @apply max-w-full;
}

.fireup_text{
    color: linear-gradient(to bottom right,#bdd0bc 0%,#ffaf57 50%,#fe6053 100%)
}
.wp-site-blocks{
    & > .wp-block-columns{
        max-width: var(--max-container-width);
        margin: 0 auto;
    }
}

header{
	z-index: 999;
    &.wp-block-template-part{
        max-width: var(--max-container-width);
        margin: 0 auto;
    }
}
.fullwidth{
	max-width: 100vw !important;

}

.appointments_directory_wrapper .vibebp_members_directory_header{
	background: var(--light-color);
	.vibebp_members_search{
		background: var(--contentbg);
	}
}

.vibebp_members_directory_filter_form a:hover {
    color: var(--sub-menu-hover-color);
}
.select_day_of_week{
	padding: 0;
	background: var(--light-color);
}

.wp-block-columns:where(.has-background){
	padding: 1em;
}
@media (min-width: 768px){
	.sticky_block{
		position: sticky;
		top: 1rem;
	}
}

.elementor-widget-container .vibebp_main{margin: 1rem 0;}


pre{
	white-space: normal;
}

.white_bg { 
	.elementor-container {
		z-index: 1;
	}
  	&:before { 
	    z-index: 1;
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 20%;
	    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%) }
  	&:after { 
	    z-index:1;
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 10%;
	    background-image: linear-gradient(0deg, #EBEBEB 0%, rgba(235,235,235,0.00) 100%) }
	}

	.squares {
	  height: 100%;
	  display: flex;
	  position: absolute;
	  left: 0;top: 0;width: 100%;
	  justify-content: space-around;
	  overflow: hidden }
	.square {
	  animation: squares 9.5s linear infinite;
	  align-self: flex-end;
	  width: 1em;
	  height: 1em;
	  transform: translateY(100%);
	  background: #ebebeb;  
	  &:nth-child(2) { 
	    height: 1.5em;  
	    width: 3em;   
	    animation-delay: 1s;
	    animation-duration: 17s; 
	    -webkit-filter: blur(5px) }
	  &:nth-child(3) { 
	    height: 2em;    
	    width: 1em;   
	    animation-delay: 1.5s;
	    animation-duration: 8s; 
	    -webkit-filter: blur() }
	  &:nth-child(4) { 
	    height: 1em;    
	    width: 1.5em; 
	    animation-delay: 0.5s;
	    -webkit-filter: blur(3px);
	    animation-duration: 13s }
	  &:nth-child(5) { 
	    height: 1.25em; 
	    width: 2em;   
	    animation-delay: 4s;
	    -webkit-filter: blur(2px);
	    animation-duration: 11s }
	  &:nth-child(6) { 
	    height: 2.5em;  
	    width: 2em;   
	    animation-delay: 2s;
	    -webkit-filter: blur(1px);
	    animation-duration: 9s }
	  &:nth-child(7) { 
	    height: 5em;    
	    width: 2em;   
	    -webkit-filter: blur(2.5px);
	    animation-duration: 12s }
	  &:nth-child(8) { 
	    height: 1em;    
	    width: 3em;   
	    animation-delay: 5s;
	    -webkit-filter: blur(6px);
	    animation-duration: 18s }
	  &:nth-child(9) {
	    height: 1.5em; 
	    width: 2em; 
	    -webkit-filter: blur(0.5px);
	    animation-duration: 9s }
	  &:nth-child(9) {
	    height: 3em;
	    width: 2.4em;
	    animation-delay: 6s;
	    -webkit-filter: blur(0.5px);
	    animation-duration: 12s 
	}
}

@keyframes squares { 
  from { transform: translateY(100%) rotate(-50deg) }
  to   { transform: translateY(calc(-100vh + -100%)) rotate(20deg) }}


.particles_bg{


	.particle {
	  position: absolute;
	  border-radius: 50%;
	  left: 0;top: 0;
	}

	@-webkit-keyframes particle-animation-1 {
	  100% {
	    transform: translate3d(86vw, 43vh, 75px);
	  }
	}

	@keyframes particle-animation-1 {
	  100% {
	    transform: translate3d(86vw, 43vh, 75px);
	  }
	}
	.particle:nth-child(1) {
	  -webkit-animation: particle-animation-1 60s infinite;
	          animation: particle-animation-1 60s infinite;
	  opacity: 0.13;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -0.2s;
	          animation-delay: -0.2s;
	  transform: translate3d(46vw, 69vh, 54px);
	  background: #2632d9;
	}

	@-webkit-keyframes particle-animation-2 {
	  100% {
	    transform: translate3d(79vw, 28vh, 69px);
	  }
	}

	@keyframes particle-animation-2 {
	  100% {
	    transform: translate3d(79vw, 28vh, 69px);
	  }
	}
	.particle:nth-child(2) {
	  -webkit-animation: particle-animation-2 60s infinite;
	          animation: particle-animation-2 60s infinite;
	  opacity: 0.9;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -0.4s;
	          animation-delay: -0.4s;
	  transform: translate3d(53vw, 5vh, 36px);
	  background: #26d9a0;
	}

	@-webkit-keyframes particle-animation-3 {
	  100% {
	    transform: translate3d(76vw, 66vh, 12px);
	  }
	}

	@keyframes particle-animation-3 {
	  100% {
	    transform: translate3d(76vw, 66vh, 12px);
	  }
	}
	.particle:nth-child(3) {
	  -webkit-animation: particle-animation-3 60s infinite;
	          animation: particle-animation-3 60s infinite;
	  opacity: 0.18;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -0.6s;
	          animation-delay: -0.6s;
	  transform: translate3d(81vw, 25vh, 82px);
	  background: #3bd926;
	}

	@-webkit-keyframes particle-animation-4 {
	  100% {
	    transform: translate3d(83vw, 64vh, 23px);
	  }
	}

	@keyframes particle-animation-4 {
	  100% {
	    transform: translate3d(83vw, 64vh, 23px);
	  }
	}
	.particle:nth-child(4) {
	  -webkit-animation: particle-animation-4 60s infinite;
	          animation: particle-animation-4 60s infinite;
	  opacity: 0.21;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -0.8s;
	          animation-delay: -0.8s;
	  transform: translate3d(66vw, 7vh, 52px);
	  background: #26d93b;
	}

	@-webkit-keyframes particle-animation-5 {
	  100% {
	    transform: translate3d(78vw, 27vh, 10px);
	  }
	}

	@keyframes particle-animation-5 {
	  100% {
	    transform: translate3d(78vw, 27vh, 10px);
	  }
	}
	.particle:nth-child(5) {
	  -webkit-animation: particle-animation-5 60s infinite;
	          animation: particle-animation-5 60s infinite;
	  opacity: 0.59;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -1s;
	          animation-delay: -1s;
	  transform: translate3d(41vw, 83vh, 80px);
	  background: #d92638;
	}

	@-webkit-keyframes particle-animation-6 {
	  100% {
	    transform: translate3d(18vw, 88vh, 69px);
	  }
	}

	@keyframes particle-animation-6 {
	  100% {
	    transform: translate3d(18vw, 88vh, 69px);
	  }
	}
	.particle:nth-child(6) {
	  -webkit-animation: particle-animation-6 60s infinite;
	          animation: particle-animation-6 60s infinite;
	  opacity: 0.81;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -1.2s;
	          animation-delay: -1.2s;
	  transform: translate3d(1vw, 75vh, 15px);
	  background: #cdd926;
	}

	@-webkit-keyframes particle-animation-7 {
	  100% {
	    transform: translate3d(5vw, 46vh, 53px);
	  }
	}

	@keyframes particle-animation-7 {
	  100% {
	    transform: translate3d(5vw, 46vh, 53px);
	  }
	}
	.particle:nth-child(7) {
	  -webkit-animation: particle-animation-7 60s infinite;
	          animation: particle-animation-7 60s infinite;
	  opacity: 0.13;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -1.4s;
	          animation-delay: -1.4s;
	  transform: translate3d(42vw, 68vh, 18px);
	  background: #6826d9;
	}

	@-webkit-keyframes particle-animation-8 {
	  100% {
	    transform: translate3d(60vw, 51vh, 92px);
	  }
	}

	@keyframes particle-animation-8 {
	  100% {
	    transform: translate3d(60vw, 51vh, 92px);
	  }
	}
	.particle:nth-child(8) {
	  -webkit-animation: particle-animation-8 60s infinite;
	          animation: particle-animation-8 60s infinite;
	  opacity: 0.35;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -1.6s;
	          animation-delay: -1.6s;
	  transform: translate3d(38vw, 49vh, 72px);
	  background: #d9262f;
	}

	@-webkit-keyframes particle-animation-9 {
	  100% {
	    transform: translate3d(26vw, 21vh, 89px);
	  }
	}

	@keyframes particle-animation-9 {
	  100% {
	    transform: translate3d(26vw, 21vh, 89px);
	  }
	}
	.particle:nth-child(9) {
	  -webkit-animation: particle-animation-9 60s infinite;
	          animation: particle-animation-9 60s infinite;
	  opacity: 0.74;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -1.8s;
	          animation-delay: -1.8s;
	  transform: translate3d(49vw, 64vh, 46px);
	  background: #d92926;
	}

	@-webkit-keyframes particle-animation-10 {
	  100% {
	    transform: translate3d(84vw, 50vh, 51px);
	  }
	}

	@keyframes particle-animation-10 {
	  100% {
	    transform: translate3d(84vw, 50vh, 51px);
	  }
	}
	.particle:nth-child(10) {
	  -webkit-animation: particle-animation-10 60s infinite;
	          animation: particle-animation-10 60s infinite;
	  opacity: 0.06;
	  height: 8px;
	  width: 8px;
	  -webkit-animation-delay: -2s;
	          animation-delay: -2s;
	  transform: translate3d(26vw, 21vh, 69px);
	  background: #a626d9;
	}

	@-webkit-keyframes particle-animation-11 {
	  100% {
	    transform: translate3d(27vw, 25vh, 36px);
	  }
	}

	@keyframes particle-animation-11 {
	  100% {
	    transform: translate3d(27vw, 25vh, 36px);
	  }
	}
	.particle:nth-child(11) {
	  -webkit-animation: particle-animation-11 60s infinite;
	          animation: particle-animation-11 60s infinite;
	  opacity: 1;
	  height: 8px;
	  width: 8px;
	  -webkit-animation-delay: -2.2s;
	          animation-delay: -2.2s;
	  transform: translate3d(32vw, 15vh, 18px);
	  background: #26a9d9;
	}

	@-webkit-keyframes particle-animation-12 {
	  100% {
	    transform: translate3d(61vw, 67vh, 20px);
	  }
	}

	@keyframes particle-animation-12 {
	  100% {
	    transform: translate3d(61vw, 67vh, 20px);
	  }
	}
	.particle:nth-child(12) {
	  -webkit-animation: particle-animation-12 60s infinite;
	          animation: particle-animation-12 60s infinite;
	  opacity: 0.56;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -2.4s;
	          animation-delay: -2.4s;
	  transform: translate3d(46vw, 71vh, 50px);
	  background: #266bd9;
	}

	@-webkit-keyframes particle-animation-13 {
	  100% {
	    transform: translate3d(10vw, 87vh, 67px);
	  }
	}

	@keyframes particle-animation-13 {
	  100% {
	    transform: translate3d(10vw, 87vh, 67px);
	  }
	}
	.particle:nth-child(13) {
	  -webkit-animation: particle-animation-13 60s infinite;
	          animation: particle-animation-13 60s infinite;
	  opacity: 0.38;
	  height: 8px;
	  width: 8px;
	  -webkit-animation-delay: -2.6s;
	          animation-delay: -2.6s;
	  transform: translate3d(19vw, 77vh, 7px);
	  background: #26d9a3;
	}

	@-webkit-keyframes particle-animation-14 {
	  100% {
	    transform: translate3d(49vw, 30vh, 41px);
	  }
	}

	@keyframes particle-animation-14 {
	  100% {
	    transform: translate3d(49vw, 30vh, 41px);
	  }
	}
	.particle:nth-child(14) {
	  -webkit-animation: particle-animation-14 60s infinite;
	          animation: particle-animation-14 60s infinite;
	  opacity: 0.24;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -2.8s;
	          animation-delay: -2.8s;
	  transform: translate3d(85vw, 76vh, 30px);
	  background: #7dd926;
	}

	@-webkit-keyframes particle-animation-15 {
	  100% {
	    transform: translate3d(31vw, 10vh, 90px);
	  }
	}

	@keyframes particle-animation-15 {
	  100% {
	    transform: translate3d(31vw, 10vh, 90px);
	  }
	}
	.particle:nth-child(15) {
	  -webkit-animation: particle-animation-15 60s infinite;
	          animation: particle-animation-15 60s infinite;
	  opacity: 0.86;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -3s;
	          animation-delay: -3s;
	  transform: translate3d(1vw, 87vh, 3px);
	  background: #d926d0;
	}

	@-webkit-keyframes particle-animation-16 {
	  100% {
	    transform: translate3d(54vw, 35vh, 7px);
	  }
	}

	@keyframes particle-animation-16 {
	  100% {
	    transform: translate3d(54vw, 35vh, 7px);
	  }
	}
	.particle:nth-child(16) {
	  -webkit-animation: particle-animation-16 60s infinite;
	          animation: particle-animation-16 60s infinite;
	  opacity: 0.24;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -3.2s;
	          animation-delay: -3.2s;
	  transform: translate3d(49vw, 74vh, 99px);
	  background: #97d926;
	}

	@-webkit-keyframes particle-animation-17 {
	  100% {
	    transform: translate3d(90vw, 29vh, 48px);
	  }
	}

	@keyframes particle-animation-17 {
	  100% {
	    transform: translate3d(90vw, 29vh, 48px);
	  }
	}
	.particle:nth-child(17) {
	  -webkit-animation: particle-animation-17 60s infinite;
	          animation: particle-animation-17 60s infinite;
	  opacity: 0.04;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -3.4s;
	          animation-delay: -3.4s;
	  transform: translate3d(26vw, 7vh, 20px);
	  background: #d92682;
	}

	@-webkit-keyframes particle-animation-18 {
	  100% {
	    transform: translate3d(40vw, 87vh, 45px);
	  }
	}

	@keyframes particle-animation-18 {
	  100% {
	    transform: translate3d(40vw, 87vh, 45px);
	  }
	}
	.particle:nth-child(18) {
	  -webkit-animation: particle-animation-18 60s infinite;
	          animation: particle-animation-18 60s infinite;
	  opacity: 0.97;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -3.6s;
	          animation-delay: -3.6s;
	  transform: translate3d(47vw, 30vh, 94px);
	  background: #26d96e;
	}

	@-webkit-keyframes particle-animation-19 {
	  100% {
	    transform: translate3d(69vw, 78vh, 93px);
	  }
	}

	@keyframes particle-animation-19 {
	  100% {
	    transform: translate3d(69vw, 78vh, 93px);
	  }
	}
	.particle:nth-child(19) {
	  -webkit-animation: particle-animation-19 60s infinite;
	          animation: particle-animation-19 60s infinite;
	  opacity: 0.22;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -3.8s;
	          animation-delay: -3.8s;
	  transform: translate3d(71vw, 28vh, 67px);
	  background: #97d926;
	}

	@-webkit-keyframes particle-animation-20 {
	  100% {
	    transform: translate3d(20vw, 43vh, 43px);
	  }
	}

	@keyframes particle-animation-20 {
	  100% {
	    transform: translate3d(20vw, 43vh, 43px);
	  }
	}
	.particle:nth-child(20) {
	  -webkit-animation: particle-animation-20 60s infinite;
	          animation: particle-animation-20 60s infinite;
	  opacity: 0.98;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -4s;
	          animation-delay: -4s;
	  transform: translate3d(62vw, 61vh, 92px);
	  background: #d9a326;
	}

	@-webkit-keyframes particle-animation-21 {
	  100% {
	    transform: translate3d(56vw, 44vh, 75px);
	  }
	}

	@keyframes particle-animation-21 {
	  100% {
	    transform: translate3d(56vw, 44vh, 75px);
	  }
	}
	.particle:nth-child(21) {
	  -webkit-animation: particle-animation-21 60s infinite;
	          animation: particle-animation-21 60s infinite;
	  opacity: 0.79;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -4.2s;
	          animation-delay: -4.2s;
	  transform: translate3d(24vw, 21vh, 77px);
	  background: #26d956;
	}

	@-webkit-keyframes particle-animation-22 {
	  100% {
	    transform: translate3d(79vw, 85vh, 40px);
	  }
	}

	@keyframes particle-animation-22 {
	  100% {
	    transform: translate3d(79vw, 85vh, 40px);
	  }
	}
	.particle:nth-child(22) {
	  -webkit-animation: particle-animation-22 60s infinite;
	          animation: particle-animation-22 60s infinite;
	  opacity: 0.71;
	  height: 8px;
	  width: 8px;
	  -webkit-animation-delay: -4.4s;
	          animation-delay: -4.4s;
	  transform: translate3d(16vw, 72vh, 63px);
	  background: #82d926;
	}

	@-webkit-keyframes particle-animation-23 {
	  100% {
	    transform: translate3d(39vw, 76vh, 83px);
	  }
	}

	@keyframes particle-animation-23 {
	  100% {
	    transform: translate3d(39vw, 76vh, 83px);
	  }
	}
	.particle:nth-child(23) {
	  -webkit-animation: particle-animation-23 60s infinite;
	          animation: particle-animation-23 60s infinite;
	  opacity: 0.74;
	  height: 6px;
	  width: 6px;
	  -webkit-animation-delay: -4.6s;
	          animation-delay: -4.6s;
	  transform: translate3d(73vw, 10vh, 34px);
	  background: #26d929;
	}

	@-webkit-keyframes particle-animation-24 {
	  100% {
	    transform: translate3d(12vw, 46vh, 73px);
	  }
	}

	@keyframes particle-animation-24 {
	  100% {
	    transform: translate3d(12vw, 46vh, 73px);
	  }
	}
	.particle:nth-child(24) {
	  -webkit-animation: particle-animation-24 60s infinite;
	          animation: particle-animation-24 60s infinite;
	  opacity: 0.01;
	  height: 7px;
	  width: 7px;
	  -webkit-animation-delay: -4.8s;
	          animation-delay: -4.8s;
	  transform: translate3d(36vw, 77vh, 20px);
	  background: #26d935;
	}

	@-webkit-keyframes particle-animation-25 {
	  100% {
	    transform: translate3d(8vw, 31vh, 94px);
	  }
	}

	@keyframes particle-animation-25 {
	  100% {
	    transform: translate3d(8vw, 31vh, 94px);
	  }
	}
	.particle:nth-child(25) {
	  -webkit-animation: particle-animation-25 60s infinite;
	          animation: particle-animation-25 60s infinite;
	  opacity: 0.87;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -5s;
	          animation-delay: -5s;
	  transform: translate3d(10vw, 74vh, 43px);
	  background: #d92632;
	}

	@-webkit-keyframes particle-animation-26 {
	  100% {
	    transform: translate3d(12vw, 52vh, 82px);
	  }
	}

	@keyframes particle-animation-26 {
	  100% {
	    transform: translate3d(12vw, 52vh, 82px);
	  }
	}
	.particle:nth-child(26) {
	  -webkit-animation: particle-animation-26 60s infinite;
	          animation: particle-animation-26 60s infinite;
	  opacity: 0.2;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -5.2s;
	          animation-delay: -5.2s;
	  transform: translate3d(69vw, 56vh, 88px);
	  background: #d926d3;
	}

	@-webkit-keyframes particle-animation-27 {
	  100% {
	    transform: translate3d(36vw, 87vh, 71px);
	  }
	}

	@keyframes particle-animation-27 {
	  100% {
	    transform: translate3d(36vw, 87vh, 71px);
	  }
	}
	.particle:nth-child(27) {
	  -webkit-animation: particle-animation-27 60s infinite;
	          animation: particle-animation-27 60s infinite;
	  opacity: 1;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -5.4s;
	          animation-delay: -5.4s;
	  transform: translate3d(21vw, 87vh, 99px);
	  background: #2641d9;
	}

	@-webkit-keyframes particle-animation-28 {
	  100% {
	    transform: translate3d(23vw, 11vh, 38px);
	  }
	}

	@keyframes particle-animation-28 {
	  100% {
	    transform: translate3d(23vw, 11vh, 38px);
	  }
	}
	.particle:nth-child(28) {
	  -webkit-animation: particle-animation-28 60s infinite;
	          animation: particle-animation-28 60s infinite;
	  opacity: 0.52;
	  height: 10px;
	  width: 10px;
	  -webkit-animation-delay: -5.6s;
	          animation-delay: -5.6s;
	  transform: translate3d(18vw, 50vh, 41px);
	  background: #26d9a0;
	}

	@-webkit-keyframes particle-animation-29 {
	  100% {
	    transform: translate3d(38vw, 39vh, 66px);
	  }
	}

	@keyframes particle-animation-29 {
	  100% {
	    transform: translate3d(38vw, 39vh, 66px);
	  }
	}
	.particle:nth-child(29) {
	  -webkit-animation: particle-animation-29 60s infinite;
	          animation: particle-animation-29 60s infinite;
	  opacity: 0.8;
	  height: 9px;
	  width: 9px;
	  -webkit-animation-delay: -5.8s;
	          animation-delay: -5.8s;
	  transform: translate3d(81vw, 33vh, 78px);
	  background: #26d974;
	}

	@-webkit-keyframes particle-animation-30 {
	  100% {
	    transform: translate3d(12vw, 88vh, 42px);
	  }
	}

	@keyframes particle-animation-30 {
	  100% {
	    transform: translate3d(12vw, 88vh, 42px);
	  }
	}
	.particle:nth-child(30) {
	  -webkit-animation: particle-animation-30 60s infinite;
	          animation: particle-animation-30 60s infinite;
	  opacity: 0.27;
	  height: 8px;
	  width: 8px;
	  -webkit-animation-delay: -6s;
	          animation-delay: -6s;
	  transform: translate3d(80vw, 18vh, 81px);
	  background: #d926bb;
	}
}

/* Misc Changes */
.field_type_video iframe{
	height: 360px;
}
.instructor_reviews_wrapper{
	background: var(--contentbg);
	padding: 1rem !important;
}

.fc .fc-view-harness{
	min-height: 60vh;
}

/* WooCommerce */
@media(min-width: 1100px) {
  .woocommerce-cart .woocommerce {
    display: flex;
    gap: 1rem;
  }
  .woocommerce-cart .woocommerce-cart-form {
    flex: 1 0 70%;
  }    
  .woocommerce-cart .cart-collaterals {
    flex: 1 0 30%;
  }
  td.product-thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    img{border-radius: 5px;}
  }
  .woocommerce .cart-collaterals .cart_totals, 
  .woocommerce-page .cart-collaterals .cart_totals{
  	width: 100%;
  	display: flex;
    flex-direction: column;
    gap: 1rem;
    h2{font-size: 1.4rem;}
    .wc-proceed-to-checkout{
    	padding: 0;
    }
  }
}

p+.wp-block-button+p{margin-top: 1rem;}

/* Demo fixes */
.basis-5\/5{flex-basis:100%;}.basis-32{flex-basis:8rem;} 
.vibebp_member{margin-bottom:1rem;}
.member_action span.button.is-primary {padding: 2px 10px;
	white-space: nowrap;}
.button.is-primary{background:var(--bg-primary) !important;}
.button.is-primary:hover,
.login_popup.medium .login_popup_content .button:hover, 
.login_popup.elegance .login_popup_content .button:hover{border:1px solid var(--bg-primary) !important;background:none !important;color:var(--bg-primary) !important;}.login_popup.slick.active {max-height: 720px;}
.vibebp_member + a.button.is-primary {width: 100%;margin: 0 0 1rem;text-align: center; border-radius: 0 0 5px 5px;}
.my_instructor_card_block .user_labels {display: flex;gap: 0.5rem;flex-wrap: wrap;}
.my_instructor_card_block  .user_labels img {max-width: 24px;}.elementor-element.promo_vid { min-height: 320px; }.applied_filters{margin-bottom:1rem;}#primary-menu .service_adblock{padding-top:6rem;}.vibebp_members_directory_header {border-radius: 0 0 5px 5px;}
.member_action .button.is-primary { width: 100%;}.fc .fc-toolbar-title{white-space:nowrap;}
.vibebp_appointments_filter_wrapper {border-radius: 5px 5px 0 0;}
.slide_block_wrapper.testimonial_slide_style {  background: var(--contentbg); border-radius: 5px; bordeR: 1px solid var(--border); }
.appointments_directory_wrapper .vibebp_members_directory_header {
	background: var(--light-color) !important;}
.appointments_directory_wrapper .vibebp_members_directory_wrapper .vibebp_members_wrapper{max-width:calc(100vw - 3rem);}#primary-menu .service_adblock{background-size:cover !important;}#primary-menu .service_block_down{color:var(--contentbg);}

@media (max-width: 1000px){
	.vibebp_member{margin-bottom:0;}
}