#primary-menu{
	& > ul{
		flex-wrap: wrap;
		& > li{
			padding: 1rem 0;
			& > a{
				font-weight:var(--root-menu-main-font-weight);
				margin:var(--root-menu-main-margin);
				padding: var(--root-menu-main-padding);
				font-size: var(--root-menu-main-size);
				color: var(--root-menu-main-color);
				white-space: nowrap;
			}
		}	
	} 
 	ul{
 		li{
			position:relative;
			margin: 0;			
			a{
				position: relative;
			}
			&:hover > a{
				color:var(--root-menu-main-active-color);
			}
			&.active{
				&> a{
					color:var(--root-menu-main-active-color);
					position: relative;
				}
			}
			&.current-menu-item,&.current-menu-ancestor{
				& > a{
					color:var(--root-menu-main-active-color);
				}	
			}
			&:hover{
				& > .sub-menu,
				& > .children{
					display: flex;
					animation: opacity 200ms ease-in-out normal;
					flex-direction: column;
					width:var(--sub-menu-width);
				  	& > li{
						font-size:var(--sub-menu-font-size)
					}
				}
			} 
		
			&.megamenu{
				& > .sub-menu{
					flex-direction: row;
					justify-content: space-between;
					& > li{
						flex: 1;
					}
				}
			}
		}

 	} 
 	.children,.sub-menu{
 		display: none;
 		position:absolute;
		top:100%;
		left:0;
		width:100%;
		z-index: 99;
		max-width: calc(100vw - 1rem);
	    box-shadow: var(--sub-menu-box-shadow);
	    border-radius: var(--sub-menu-border-radius);
		border: var(--sub-menu-border);
		border-radius: var(--sub-menu-border-radius);
		background:var(--sub-menu-background-color);
 		& > li{
 			display: block;
			position: relative;
			width:100%;
			min-width: var(--sub-menu-min-width);
			svg{
				width: 32px;
				height: 32px;
				margin-top: 5px;
			}
			& > a{
				font-size:var(--sub-menu-font-size);
				border-bottom:var(--sub-menu-border);
			    text-align: inherit;
    			white-space: nowrap;
    			margin: 0;display: flex;
    			padding: 0.5rem 1rem;
				&:hover{
					background-color: var(--sub-menu-hover-background);
					color: var(--sub-menu-hover-color);
				}
			}
			& > .sub-menu{
				top:-1px;
				left:100%;
			}
			&.openleft > .sub-menu{
				top:0;
				left:-100%;
			}
			&:first-child > a{
				border-radius: var(--sub-menu-border-radius) var(--sub-menu-border-radius) 0 0;
			}
 			&:last-child> a{
				border-bottom:none;
				border-radius: 0 0 var(--sub-menu-border-radius) var(--sub-menu-border-radius);
			}
 		}
 	}

 	.megamenu-sidebar{
		padding: 1rem;
		.widget{
			flex: 1;
			padding: 0;
			max-width: none;
			ul>li:before, ol>li:before{
				content: '';
				display: none;
			}
			ul>li, ol>li{
				padding-left: 0;
				&:hover{padding-left: 0;}
			}
		}
	}
	.mega_menu_term_list {
		padding: 1rem 0;
		& > .mega_menu_term {padding: 0.5rem 1rem;
			&:hover{
				color: var(--bg-primary);
			}}
	}
	.service_adblock{
		min-height: 12rem;
		height: 100%;
		min-width: 12rem;
	}

	.service_adblock {
	    background-size: cover !important;
	    border-radius: 5px;
	    display: flex;
	    flex-direction: column;
	    justify-content: end;

		.service_adblock_container {
		    padding: 0.875rem;
		    background: rgba(0,0,0, 0.2);
		    border: 1px solid rgba(0,0,0, 0.1);
		    box-shadow: 0 0 80px rgb(0 0 0 / 20%);
		    margin: 0.5rem;
		    border-radius: 5px;
		    a,.service_block_down {
			    color: #fff;
			}
		}
		
	}
	.mega_menu_term_list{min-width:16rem}
	.field_type_video iframe{height:360px;border-radius:5px 5px 0 0;}
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
	& >li {
	    list-style: none !important;
	}
}



header.site_header{
	&.fixed_header{
		position: sticky;
		top: 0;
	}
	z-index: 9;
	background: var(--header-background-color);
	nav.mega_menu{
		position: relative;
		.mega_menu_root_active_highlight{position: absolute;}
		&:hover{

			.mega_menu_root_item.active{
				transition: all 0.2s ease-in-out;
				color: var(--white);
			}
			.mega_menu_root_active_highlight{
				position: absolute;
				height: 2rem;
			    border-radius: 5px;
		    	margin-top: -2px;
				z-index: -1;
				background: var(--bg-primary);
				transition: all 0.2s ease-in-out;
			}
			.mega_menu_dropdown{
				display: none;
				&.active{
					display: block;
				}
			}

		}	
		.mega_menu_bg{
			background: var(--sub-menu-background-color);
			border-radius: 5px;
			opacity: 0;
			transition: all 0.2s ease-in-out;
			position: absolute;
			box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
		 	transform: rotateX(-15deg);
    		transform-origin: 50% -50px;
    		will-change: transform, opacity;
    		pointer-events: auto;
    		&.active{
    			opacity: 1;
    			padding: 1.5rem;
    			transform: none;
    		}
		}
		.mega_menu_dropdown{
		    position: absolute;
    		top: 100%;width: 100%;
    		opacity: 0;
    		display: none;
    		transition: all 0.5s;
    		&.active{
    			opacity: 1;
    			z-index: 9;
    			display: block;
    		}
    		.mega_menu_sub{
    			position: absolute;
    			z-index: 9;
    			top:1.5rem;
    			opacity: 0;
    			&.active{
    				display: block;
    				opacity: 1;
    				transition: all 0.5s ease-in-out;
    			}

    			a:hover{;
    				color: var(--bg-primary);
    			}
    			&.two_col{
    				width: calc(360px + 1.5rem);
    				display: grid;
    				grid-template-columns: 180px 180px;
    				grid-gap: 1.5rem;
    			}
    		}
		}
	}
}

.megadrop{
	.menu-cat_subcat{
	    min-height: 180px;
		.taxonomy_menu{
			& > li{
				position:static !important;
				& > a{
					width:20%;
				}
			}
			li:first-child{
				.sub_cat_menu{
					display:block;
					z-index:1;
				}
			}
		}
		li:hover>.sub_cat_menu{
			display:block;
			z-index:2;
			.row{
			    align-items: flex-start;
			}
		}
		.sub_cat_menu{
			display:none;
			position: absolute;
			padding:15px;
		    top: 0;
		    left:176px;
		    width: calc(100% - 176px);;
		    height:100%;
	        overflow-y: hidden;
    		border-left: 1px solid rgba(0,0,0,0.1);
			a{width:100%;margin:5px;padding:0;}
			&.sub_posts_menu{
				padding:15px 30px ;
				a{width:100%;margin:15px 0 30px;padding:0;
				.menu_featured{
					img{border-radius: 2px;margin-bottom: 10px;width:100%;}
				}}
			}
		}
	}

	.mega_menu_cat_posts{
		.mega_menu_term_list{
			.mega_menu_term{
				&.active{
					background: var(--sub-menu-hover-background);
					color: var(--sub-menu-hover-color);
					border-radius: 0 5px 5px 0;
				}
			}
		}
		.mega_posts{
			.menu_featured{
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				img{
					border-radius: 5px;
				}
			}
		}
	}
	.mega_sub_posts_menu{
		display: none;
		&.active{
			display: flex;
		}
	}
}  


.mega_menu_root_active_highlight{
	height: 3px;
    width: 120px;
    background: var(--root-menu-main-active-color);
    border-radius: 4px;
    display: block;
    position: absolute;
    transition: all 0.2s;
}
@media (max-width: 768px){
	header.site-header nav #primary-menu{
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    transition: all 0.2s;
	    transform: translateX(-100%);
	    z-index: 99;
	    background: var(--sub-menu-background-color);
	    &.active{
	    	transition: all 0.2s;
	    	transform: translateX(0);
	    }
	}
	.admin-bar header.site-header nav #primary-menu{
		top: 32px;
	}
}
@media (max-width: 480px){
	

	#primary-menu ul li:hover > .sub-menu{
		position: relative;
		box-shadow: none;
	}
	#primary-menu .sub-menu li > .sub-menu {
	    left: 0;
	}
	.menu-item-has-children{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative !important;
		&:before{
			content: "\e649";
			padding: 0.5rem;
			font-family: vicon;
			position: absolute;
			width: 1.5rem;
			top: 0;
			right: 0;
			display: flex;
			justify-content: center;
		}
		& > a{
			margin-right: 2rem !important;
		}
		&.active:before{
			content: "\e64b";
		}
	}

	.mega_posts{
		display: none;
	}
}

.site_mobile_menu{
	transition: all 0.36s ease-in-out;
	transform: translateX(-100%);
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    overflow-y: auto;
    background: var(--header-background-color);
    z-index: 99999;
    box-shadow: 1px 0 2px var(--border);
	&.active{
		transform: translateX(0%);
	}

	.mobile_navigation{
		ul{
			li{
				& > .sub-menu{
					display: none;
				}
				&.active{
					& > .sub-menu{
						display: block;
					}	
				}
				&.current-menu-item,
				&.current-menu-ancestor {
				    & > a{color: var(--bg-primary) !important;}
				}
				& > a {
				    border-bottom: 1px solid var(--border);
				}
			}
		}
	}
}


@keyframes opacity { 
    from { opacity:0; transform: translateY(2px);} 
    to { opacity: 1; transform: translateY(0);} 
}

